* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoSlab', sans-serif;
}

body {
  background-color: #eeebeb;
}

.nav-container {
  padding-top: 20px;
  display: flex;
  padding-left: 4.25rem;
  color: #0290ff;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  height: 5rem;
}

.header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: baseline;
  justify-content: center;
}

.login-icon {
  display: flex;
  justify-self: flex-end;
  margin: 0 3rem 2rem;
  font-size: 30px;
  color: #0290ff;
  background-color: #fff;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
}

ul {
  display: flex;
  padding: 10px;
  list-style: none;
  gap: 10px;
}

.display-book {
  display: flex;
  flex-direction: column;
}

.books-list {
  display: flex;
  height: 7rem;
  width: 70%;
  background-color: #fff;
  padding: 5px 1.688rem;
  margin-left: 4.25rem;
}

.left-block {
  display: flex;
  width: 30rem;
  flex-direction: column;
  height: 20rem;
}

.right-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10% 1rem;
}

#booklist-display {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #121212;
  opacity: 50%;
  font-size: 17px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5.25rem;
  margin-top: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  width: 19.5rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 10px;
}

.input-submit {
  color: #fff;
  width: 10.5rem;
  height: 2.713rem;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
}

.author {
  color: #4386bf;
}

.buttons-div {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}

.buttons {
  text-decoration: none;
  color: #4386bf;
  border: none;
  background-color: #fff;
}

.category {
  color: #7c7c7c;
}

.progress-bar {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-self: center;
  margin: 10px;
  gap: 10px;
}

#percent {
  font-size: 20px;
  font-weight: 800;
}

#completed {
  font-size: 12px;
  color: #7c7c7c;
}

circle {
  stroke: #d8dcdf;
}

.chapter {
  color: #121212;
  opacity: 50%;
  font-size: 0.813rem;
}

.chapter-info {
  font-size: 1rem;
}

.ant-progress-circle-path {
  color: #7c7c7c;
}

.progress {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
}

.ant-progress-text {
  text-align: right;
  margin-left: 5rem;
  display: none;
}

.update-progress {
  color: #fff;
  width: 9.5rem;
  height: 3.063rem;
  border-radius: 3px;
  font-size: 0.713rem;
  padding: 6px;
  border: none;
  margin-top: 20px;
  background-color: #0290ff;
}

.dividor {
  opacity: 50%;
  height: 70%;
  align-self: center;
}

.form-dividor {
  opacity: 50%;
  width: 72.6%;
}
